<h1 appProtected>Epsilon-Support Vector Regression</h1>
<div>
    <form [formGroup]="svrForm" (ngSubmit)="onSubmit(svrForm.value)">
        <div class="input-div">
            <label for="train_path">
                Train path:
            </label>
            <select id="train_path" formControlName="train_path" class="form-control">
                <option *ngFor="let r of listUploads" [value]="r">
                    {{r}}
                </option>
            </select>
        </div>

        <div class="input-div">
            <label for="test_path">
                Test path:
            </label>
            <select id="test_path" formControlName="test_path" class="form-control">
                <option *ngFor="let r of listUploads" [value]="r">
                    {{r}}
                </option>
            </select>
        </div>

        <div class="input-div">
            <label for="kernel">kernel</label>
            <select id="kernel" formControlName="kernel" class="form-control">
                <option *ngFor="let r of ['linear', 'poly', 'rbf', 'sigmoid', 'precomputed']" [value]="r">
                    {{r}}
                </option>
            </select>
        </div>
        <div class="input-div">
            <label for="gamma">gamma</label>
            <input id="gamma" type="text" formControlName="gamma">
        </div>
        <div class="input-div">
            <label for="coef0">coef0</label>
            <input id="coef0" type="number" formControlName="coef0">
        </div>
        <div class="input-div">
            <label for="epsilon">epsilon</label>
            <input id="epsilon" type="number" formControlName="epsilon">
        </div>
        <div class="input-div">
            <label for="max_iter">max_iter</label>
            <input id="max_iter" type="number" formControlName="max_iter">
        </div>
        <div class="input-div">
            <label for="degree">degree</label>
            <input id="degree" type="number" formControlName="degree">
        </div>
        <div class="input-div">
            <label for="tol">tol</label>
            <input id="tol" type="number" formControlName="tol">
        </div>
        <div class="input-div">
            <label for="C">C</label>
            <input id="C" type="number" formControlName="C">
        </div>
        <div class="input-div">
            <label for="shrinking">shrinking</label>
            <input id="shrinking" type="checkbox" formControlName="shrinking">
        </div>
        <div class="input-div">
            <label for="cache_size">cache_size</label>
            <input id="cache_size" type="number" formControlName="cache_size">
        </div>
        <div class="input-div">
            <label for="verbose">verbose</label>
            <input id="verbose" type="checkbox" formControlName="verbose">
        </div>
        <div class="input-div">
            <label for="use_wiener">
                 nonlinear inputs extension:
            </label>
            <input id="use_wiener" type="checkbox" formControlName="use_wiener">
        </div>

        <div class="input-div">
            <label for="wiener_n">
                wiener n:
            </label>
            <input id="wiener_n" type="number" formControlName="wiener_n" ng-pattern="/^-?[0-9][^\.]*$/">
        </div>

        <button class="button" type="submit">Compute</button>

    </form>
</div>

<div *ngIf="output!=null">
    <p><b> Processing time: </b>{{output.job_duration}}</p>
    <div>
        <b>Training Errors</b>
        <p><b>Mean absolute percentage: </b>{{output.training_errors.mean_absolute_percentage}}</p>
        <p><b>Root mean squared: </b>{{output.training_errors.root_mean_squared}}</p>
        <p><b>Sum of squared errors: </b>{{output.training_errors.sum_of_squared_errors}}</p>
        <p><b>Symmetric mean absolute percentage error:
            </b>{{output.training_errors.symmetric_mean_absolute_percentage_error}}</p>
        <p><b>Mean absolute error: </b>{{output.training_errors.mean_absolute_error}}</p>
    </div>

    <div>
        <b>Testing Errors</b>
        <p><b>Mean absolute percentage: </b>{{output.testing_errors.mean_absolute_percentage}}</p>
        <p><b>Root mean squared: </b>{{output.testing_errors.root_mean_squared}}</p>
        <p><b>Sum of squared errors: </b>{{output.testing_errors.sum_of_squared_errors}}</p>
        <p><b>Symmetric mean absolute percentage error:
            </b>{{output.testing_errors.symmetric_mean_absolute_percentage_error}}</p>
        <p><b>Mean absolute error: </b>{{output.testing_errors.mean_absolute_error}}</p>
    </div>
    <p><a target="_blank" rel="noopener"
            [href]="apiUrl + '/algorithms/file?path=' + output.prediction_test_output_path">Download test
            predictions</a></p>
    <p><a target="_blank" rel="noopener"
            [href]="apiUrl + '/algorithms/file?path=' + output.prediction_train_output_path">Download train
            predictions</a></p>
</div>
