.form-body {
  max-width: 70%;
  margin: auto;
}

.mat-form-field {
  width: 100%;
  height: auto;
}

.add-button {
  width: auto;
  height: border-box;
}

.array-item {
  margin-right: 10px;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

 .mat-form-field--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
