<div appProtected *ngIf="validate()" class="form-body">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let item of items">
      <div>

        <!--     Start  Array type handling-->
        <div [ngSwitch]="item.default.type">
          <div *ngSwitchCase="'array'" [formArrayName]="item.name">
            <div *ngFor="let itemValue of item.default.value; let i=index" class="inline">
              <div [ngSwitch]="item.options['arrayType']">
                <mat-form-field appearance="outline" class="array-item mat-form-field--inline">
                  <mat-label *ngIf="i===0">{{item.name}}</mat-label>
                  <div *ngSwitchCase="'number'">
                    <input
                      matInput
                      type="number"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>
                  <div *ngSwitchDefault>
                    <input matInput
                           [type]="item.options['arrayType']"
                           [value]="itemValue"
                           [formControlName]="i"
                           (change)="onValueChange(form, item)"
                    >
                  </div>
                </mat-form-field>
              </div>
            </div>
            <button mat-button color="primary" class="add-button" (click)="onArrayItemAdd(form, item)">
              <mat-icon>
                add
              </mat-icon>
            </button>

            <!--            <input value="+" type="button" ">-->
          </div>
          <!--      End  Array type handling-->
          <div *ngIf="item.default.type!='array'">
            <mat-form-field appearance="outline">
              <mat-label>
                {{item.description}}
              </mat-label>
              <mat-select
                [(value)]="item.default.value"
                *ngSwitchCase="'option'"
                [formControlName]="item.name"
                (change)='onValueChange(form, item)'

              >

                <mat-option *ngFor="let itemValue of item.options['optionValues']"
                            [value]="itemValue"
                >
                  {{itemValue}}
                </mat-option>
              </mat-select>

              <mat-select
                *ngSwitchCase="'upload'"
                [formControlName]="item.name"
                (change)='onValueChange(form, item)'>

                <mat-option *ngFor="let itemValue of listUploads"
                            [value]="itemValue"
                >
                  {{itemValue}}
                </mat-option>
              </mat-select>
              <div *ngSwitchCase="'number'">
                <input matInput
                       [id]="item.name" type="number"
                       [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                >
              </div>
              <div *ngSwitchCase="'checkbox'">
                <mat-checkbox matInput
                              [id]="item.name" [value]="item.default.value"
                              [formControlName]="item.name"
                              (input)="onValueChange(form, item)"
                >
                </mat-checkbox>
              </div>

              <div *ngSwitchDefault>
                <input [id]="item.name" [type]="item.default.type" [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                >
              </div>
            </mat-form-field>
          </div>
          <div *ngIf="item.type.length>1">
            <mat-form-field appearance="fill">
              <mat-label>{{item.name}} type</mat-label>
              <mat-select

                #mySelect
                [(value)]="item.default.type"

                (selectionChange)='onInputTypeChange(item, mySelect.value)'
              >
                <mat-option *ngFor="let type  of item.type"
                            value="{{type}}">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>

        <div *ngIf="form.get(item.name).errors && isSubmitted">
          <div *ngIf="form.get(item.name).errors.required">
            {{item.name}} is required
          </div>
        </div>
      </div>
    </div>
    <input type="submit">
  </form>
  <div *ngIf="jsonPayload">{{form.errors}}</div>
  <div *ngIf="jsonPayload">{{jsonPayload}}</div>


  <div *ngIf="output && output.stats">
    <app-scatter [actualDataPath]="output.stats.test_path"
                 [predictedDataPath]="output.stats.prediction_test_output_path"></app-scatter>
    <app-scatter [actualDataPath]="output.stats.train_path"
                 [predictedDataPath]="output.stats.prediction_train_output_path"></app-scatter>
  </div>
</div>

