<div appProtected *ngIf="validate()" class="form-body">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let item of items">
      <div>

        <div [ngSwitch]="item.default.type">
          <!--     Start  Array type handling-->
          <div *ngSwitchCase="'array'" [formArrayName]="item.name">
            <div *ngFor="let itemValue of item.default.value; let i=index" class="inline">
              <div [ngSwitch]="item.options['arrayType']">
                <mat-form-field appearance="outline" class="array-item mat-form-field--inline">
                  <mat-label *ngIf="i===0">{{item.name}}</mat-label>
                  <div *ngSwitchCase="'int'">
                    <input
                      matInput
                      type="text"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>
                  <div *ngSwitchCase="'float'">
                    <input
                      matInput
                      type="text"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>

                  <div *ngSwitchCase="'number'">
                    <input
                      matInput
                      type="number"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>
                  <div *ngSwitchDefault>
                    <input matInput
                           [type]="item.options['arrayType']"
                           [value]="itemValue"
                           [formControlName]="i"
                           (change)="onValueChange(form, item)"
                    >
                  </div>
                </mat-form-field>
              </div>
            </div>
            <button mat-button color="primary" class="add-button" (click)="onArrayItemAdd(form, item)">
              <mat-icon>
                add
              </mat-icon>
            </button>
          </div>
          <!--      End  Array type handling-->
<!--               Start  Tuple type handling-->
          <div *ngSwitchCase="'tuple'" [formArrayName]="item.name">
            <div *ngFor="let itemValue of item.default.value; let i=index" class="inline">
              <div [ngSwitch]="item.options['arrayType']">
                <mat-form-field appearance="outline" class="array-item mat-form-field--inline">
                  <mat-label *ngIf="i===0">{{item.name}}</mat-label>
                  <div *ngSwitchCase="'int'">
                    <input
                      matInput
                      type="text"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>
                  <div *ngSwitchCase="'float'">
                    <input
                      matInput
                      type="text"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>

                  <div *ngSwitchCase="'number'">
                    <input
                      matInput
                      type="number"
                      [value]="itemValue"
                      [formControlName]="i"
                      (change)="onValueChange(form, item)"
                    >
                  </div>
                  <div *ngSwitchDefault>
                    <input matInput
                           [type]="item.options['arrayType']"
                           [value]="itemValue"
                           [formControlName]="i"
                           (change)="onValueChange(form, item)"
                    >
                  </div>
                </mat-form-field>
              </div>
            </div>
            <button mat-button color="primary" class="add-button" (click)="onArrayItemAdd(form, item)">
              <mat-icon>
                add
              </mat-icon>
            </button>
          </div>
          <!--      End  Tuple type handling-->

          <div *ngIf="!['array', 'tuple'].includes(item.default.type)">
            <mat-form-field *ngIf="!['checkbox'].includes(item.default.type)" appearance="outline">
              <mat-label>
                {{item.description}}
              </mat-label>
              <mat-select
                [(value)]="item.default.value"
                *ngSwitchCase="'option'"
                [formControlName]="item.name"
                (change)='onValueChange(form, item)'

              >

                <mat-option *ngFor="let itemValue of item.options['optionValues']"
                            [value]="itemValue"
                >
                  {{itemValue}}
                </mat-option>
              </mat-select>

              <mat-select
                *ngSwitchCase="'upload'"
                [formControlName]="item.name"
                (change)='onValueChange(form, item)'>

                <mat-option *ngFor="let itemValue of listUploads"
                            [value]="itemValue"
                >
                  {{itemValue}}
                </mat-option>
              </mat-select>
              <div *ngSwitchCase="'int'">
                <input matInput
                       [id]="item.name" type="text"
                       [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                       pattern="^[\-]?[1-9]?[0-9]*$"
                >
              </div>
              <div *ngSwitchCase="'float'">
                <input matInput
                       [id]="item.name" type="text"
                       [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                       pattern="^[\-]?[0-9]+(\.[0-9]+)?$"
                >
              </div>
              <div *ngSwitchCase="'number'">
                <input matInput
                       [id]="item.name" type="text"
                       [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                >
              </div>
              <div *ngSwitchCase="'text'">
                <input matInput
                       [id]="item.name" type="text"
                       [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                >
              </div>

              <div *ngSwitchDefault>
                <input [id]="item.name" [type]="item.default.type" [value]="item.default.value"
                       [formControlName]="item.name"
                       (input)="onValueChange(form, item)"
                >
              </div>
            </mat-form-field>

            <div *ngSwitchCase="'checkbox'">
              <mat-checkbox
                [id]="item.name" [value]="item.default.value"
                [formControlName]="item.name"
                (input)="onValueChange(form, item)"
              >
                {{item.description}}
              </mat-checkbox>
            </div>
          </div>
          <div *ngIf="item.type.length>1">
            <mat-form-field appearance="fill">
              <mat-label>{{item.name}} type</mat-label>
              <mat-select

                #mySelect
                [(value)]="item.default.type"

                (selectionChange)='onInputTypeChange(item, mySelect.value)'
              >
                <mat-option *ngFor="let type  of item.type"
                            value="{{type}}">{{type}}</mat-option>
              </mat-select>
            </mat-form-field>


          </div>

        </div>

        <div *ngIf="form.get(item.name).errors && isSubmitted">
          <div *ngIf="form.get(item.name).errors.required">
            {{item.name}} is required
          </div>
        </div>
      </div>
    </div>
    <button mat-raised-button type="submit">Submit</button>
  </form>
  <mat-progress-bar *ngIf="progressFlag" mode="query"></mat-progress-bar>

  <div *ngIf="output && output.stats">
    <table>
      <tr>
        <th>
          Test data results
        </th>
        <th>
          Train data results
        </th>
      </tr>
      <tr>
        <td>
          <app-scatter [actualDataPath]="output.stats.test_path"
                       [predictedDataPath]="output.stats.prediction_test_output_path"></app-scatter>
        </td>
        <td>
          <app-scatter [actualDataPath]="output.stats.train_path"
                       [predictedDataPath]="output.stats.prediction_train_output_path"></app-scatter>
        </td>
      </tr>
      <tr>
        <td>
          <metrics-table [content]="output.stats.testing_errors"></metrics-table>
        </td>
        <td>
          <metrics-table [content]="output.stats.training_errors"></metrics-table>
        </td>

      </tr>
      <tr>
        <td>
          <a target="_blank" rel="noopener"
             [href]="apiUrl + '/algorithms/file?path=' + output.stats.prediction_test_output_path">Download test
            predictions</a>

        </td>
        <a target="_blank" rel="noopener"
           [href]="apiUrl + '/algorithms/file?path=' + output.stats.prediction_train_output_path">Download train
          predictions</a>
        <td></td>
      </tr>
    </table>

  </div>

</div>

