<div *ngIf="validate()">

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let item of items">
      <div class="input-div">
        <label [for]="item.name">
          {{item.description}}
        </label>

        <div [ngSwitch]="item.default.type">
          <div *ngSwitchCase="'array'" [formArrayName]="item.name">

            <div class="inline" *ngFor="let itemValue of item.default.value; let i=index">

              <div [ngSwitch]="item.options['arrayType']">
                <div *ngSwitchCase="'number'">
                  <input
                    type="number"
                    [value]="itemValue"
                    [formControlName]="i"
                    (change)="onValueChange(form, item)"
                  >
                </div>
                <div *ngSwitchCase="'checkbox'">
                  <input
                    type="checkbox"
                    [value]="itemValue"
                    [formControlName]="i"
                    (input)="onValueChange(form, item)"
                  >
                </div>
                <div *ngSwitchDefault>
                  <input [type]="item.options['arrayType']"
                         [value]="itemValue"
                         [formControlName]="i"
                         (change)="onValueChange(form, item)"
                  >
                </div>
              </div>
            </div>
            <input value="+" type="button" (click)="onArrayItemAdd(form, item)">
          </div>

          <select class="container"
                  *ngSwitchCase="'option'"
                  [formControlName]="item.name"
                  (change)='onValueChange(form, item)'>

            <option *ngFor="let itemValue of item.options['optionValues']"
                    [value]="itemValue"
                    [selected]="item.default.value===itemValue"
            >
              {{itemValue}}
            </option>
          </select>
          <select class="container"
                  *ngSwitchCase="'upload'"
                  [formControlName]="item.name"
                  (change)='onValueChange(form, item)'>

            <option *ngFor="let itemValue of listUploads"
                    [value]="itemValue"
            >
              {{itemValue}}
            </option>
          </select>
          <div *ngSwitchCase="'number'">
            <input [id]="item.name" type="number" [value]="item.default.value"
                   [formControlName]="item.name"
                   (input)="onValueChange(form, item)"
            >
          </div>
          <div *ngSwitchCase="'checkbox'">
            <input [id]="item.name" type="checkbox" [value]="item.default.value"
                   [formControlName]="item.name"
                   (input)="onValueChange(form, item)"
            >
          </div>
          <div *ngSwitchDefault>
            <input [id]="item.name" [type]="item.default.type" [value]="item.default.value"
                   [formControlName]="item.name"
                   (input)="onValueChange(form, item)"
            >
          </div>
          <div *ngIf="item.type.length>1">
            <select class="container"
                    #mySelect
                    (change)='onInputTypeChange(item, mySelect.value)'
                    name="Type">
              <option *ngFor="let type  of item.type" [selected]="item.default.type===type"
                      value="{{type}}">{{type}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="form.get(item.name).errors && isSubmitted">
          <div *ngIf="form.get(item.name).errors.required">
            {{item.name}} is required
          </div>
        </div>
      </div>
    </div>
    <input type="submit">
  </form>
  <div *ngIf="jsonPayload">{{form.errors}}</div>
  <div *ngIf="jsonPayload">{{jsonPayload}}</div>


  <div *ngIf="output && output.stats">
    <app-scatter [actualDataPath]="output.stats.test_path"
                 [predictedDataPath]="output.stats.prediction_test_output_path"></app-scatter>
    <app-scatter [actualDataPath]="output.stats.train_path"
                 [predictedDataPath]="output.stats.prediction_train_output_path"></app-scatter>
  </div>
</div>

